{% extends './base.html' %}
{% block title %}Home{% endblock title %}
  
{% block content %}
  <div class="albums-container container-fluid">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ user.username }}'s Albums</h3>
        </div>
            {% for album in tags %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'music:detail' album.pk %}">
                            <img src="{{ album.logo.url }}"  alt="logo" height="200" width="200" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ album.title }}</h2>
                            <h4>{{ album.artist }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'music:detail' album.pk %}" class="btn btn-primary btn-sm" role="button">View</a>
                            <a href="{% url 'music:album_edit'   album.pk %}" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="{% url 'music:album_delete' album.pk %}" class="btn btn-danger" ><span class="glyphicon glyphicon-trash"></span></a>
                            <!-- Edit Album -->
                          
                            <!-- Favorite Album -->
                            <!-- <a href="" class="btn btn-default btn-sm btn-favorite" role="button">
                                <span class="glyphicon glyphicon-star"></span>
                            </a> -->

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        
    </div>

    <!-- If user searches and there are songs -->

</div>
{% endblock content %}

